/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #e0e0e0;
  background-color: #1c1c1c;
}

.container {
  width: 90%; /* Default width */
  margin: 0 auto;
}

/* Header Styles */
header {
  background: linear-gradient(135deg, #2d2d2d, #3c3c3c);
  color: #fff;
  padding: 16px;
  border-bottom: 2px solid #444;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 100px;
  margin-right: 16px;
}

header h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.header-info {
  text-align: left;
}

header .profession {
  font-size: 16px;
  margin: 0;
  font-style: italic;
  color: #ccc;
}

.download-resume {
  color: white;
  padding: 14px 14px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 5px;
}

.download-resume:hover {
  background-color: white;
  color: black;
  transition: color 0.3s ease;
}

/* Section Styles */
section {
  padding: 0;
}

h2 {
  font-size: 32px;
  color: #fff;
  border-bottom: 2px solid #444;
  padding-bottom: 8px;
  margin-bottom: 24px;
}

/* About Me Section */
.about-content {
  display: flex;
  gap: 24px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #444;
}

.social-accounts {
  display: flex;
  gap: 16px;
  align-items: center;
}

.social-icon img {
  width: 32px;
  height: 32px;
  transition: color 0.5s ease-in-out;
}

.social-icon:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 red);
}

/* Project Section */
.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.project-card {
  background: #333;
  border-radius: 8px;
  overflow: hidden;
  width: calc(100%/3 - 16px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  color: #fff;
  transition: box-shadow 0.3s, cursor 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.project-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}

.project-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
}

.project-image img,
.project-image video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-additional-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  font-size: 16px;
  gap: 16px;
}

.project-additional-info div {
  display: flex;
  align-items: center;
}

.project-additional-info p {
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.project-additional-info img {
  position: relative;
  width: 16px;
  height: 16px;
}

.project-info {
  padding: 16px;
}

.project-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.project-role {
  color: #ccc;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.project-description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Other Projects Section */
.other-projects-list {
  padding: 0;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  list-style-type: none;
}

.other-projects-item {
  /*padding: 8px;*/
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  /*background: #333;*/
  margin-bottom: 8px;
}

.other-projects-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.other-projects-role {
  color: #ccc;
  margin: 0;
  padding-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.other-projects-tools {
  display: inline-block;
  padding: 4px 8px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  cursor: default;
  white-space: nowrap;
}

.other-projects-button-container {
  /*width: 128px;*/
  display: flex;
  align-items: center;
  justify-content: right;
  /*background-color: blue;*/
}

.other-project-view-project {
  color: white;
  padding: 4px 8px 4px 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 5px;
}

.other-project-view-project:hover {
  background-color: white;
  color: black;
  transition: color 0.3s ease;
}

.show-more-button-container {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: blue;*/
}

.show-more-button {
  color: white;
  padding: 4px 8px 4px 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 5px;
}

.show-more-button:hover {
  background-color: white;
  color: black;
  transition: color 0.3s ease;
}

/* Education Section */
.education-card {
  display: flex;
  align-items: center;
  /*background: #333;*/
  /*border-radius: 8px;*/
  /*padding: 16px;*/
  margin-bottom: 16px;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.5);*/
}

.education-info {
  flex: 1;
}

.education-logo {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  align-self: flex-start;
}

.education-card h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.education-degree {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.education-date {
  font-style: italic;
  color: #cccccc;
}

.education-card p {
  font-size: 16px;
  margin: 0;
}

/*Work Experience Section*/
.experience-card {
  display: flex;
  align-items: center;
  /*background: #333;*/
  /*border-radius: 8px;*/
  /*padding: 16px;*/
  margin-bottom: 16px;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.5);*/
}

.experience-info {
  flex: 1;
}

.experience-logo {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  align-self: flex-start;
}

.experience-card h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.experience-position {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.experience-date {
  font-style: italic;
  color: #cccccc;
}

.experience-card p {
  font-size: 16px;
  margin: 0;
}

.experience-description {
  margin: 0;
}


/*Certification Section*/
.certification-wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.certification-wrapper .certification-carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 256px;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.certification-carousel::-webkit-scrollbar {
  display: none;
}

.certification-carousel :where(.certification-card, .certification-image) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.certification-carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.certification-carousel.no-transition {
  scroll-behavior: auto;
}

.certification-carousel.dragging .certification-card {
  cursor: grab;
  user-select: none;
}

.certification-carousel .certification-card{
  height: 256px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.certification-carousel {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

.certification-card {
  padding: 8px;
  background: #333;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  color: #fff;
  transition: box-shadow 0.3s, cursor 0.3s;
  border-radius: 8px;
  justify-content: center;
}

.certification-image {
  width: 100%;
  height: 128px;
}

.certification-image img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 50%;
}

.certification-name {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.certification-name p{
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.certification-info {
  width: 100%;
  height: 64px;
  overflow: hidden;
}

.certification-info p {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

/* Project Pages */
.project-icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.project-description-header {
  display: flex;
  gap: 24px;
}

.project-screenshot {
  width: 75%;
  height: auto;
}

.project-video {
  position: relative;
  width: 75%;
  padding-bottom: 42.18%;
  height: 0;
  overflow: hidden;
}

.project-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Optional: remove border */
}

/* Mobile Styles */
@media (max-width: 768px) {
  .header-content2 {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .header-info {
    margin-bottom: 16px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-accounts {
    flex-direction: row;
    justify-content: center;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
  }

  .project-card {
    width: 100%;
  }

  /* Project Pages */
  .project-icon {
    width: 50%;
    height: auto;
  }

  .project-description-header {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .project-screenshot {
    width: 100%;
  }

  .project-video {
    width: 100%;
    padding-bottom: 56.25%;
  }
}


/* Desktop Styles */
@media (min-width: 1024px) {
  .container {
    width: 50%;
  }

  .project-description-header p{
    margin: 0;
  }
}
